{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block content %}
	<div class="container mt-3">
		<h1>Mon panier</h1>
		<p>Ensemble de vos produits ajoutés au panier</p>

		<hr>

		{% if cart | length > 0 %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Produits</th>
						<th scope="col">Noms</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
						<th scope="col">Total</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% set total = 0 %}
					{% for product in cart %}
						{% set total = total + product.quantity * product.product.price %}
						<tr>
							<td><img src="/uploads/{{ product.product.picture }}" alt="" style="width:50px"></td>
							<td>{{ product.product.name }}</td>
							<td>
								<div class="d-flex align-items-center">
									<a href="{{ path('subtract_cart', {'id': product.product.id}) }}" class="btn btn-sm btn-outline-primary">
										<i class="fas fa-minus"></i>
									</a>
									<span class="mx-2">{{ product.quantity }}</span>
									<a href="{{ path('add_to_cart', {'id': product.product.id}) }}" class="btn btn-sm btn-outline-primary">
										<i class="fas fa-plus"></i>
									</a>
								</div>
							</td>
							<td>{{ product.product.price/100 }}
								€</td>
							<td>{{ (product.quantity * product.product.price/100) | number_format(2) }}
								€</td>
							<td>
								<a href="{{ path('delete_product', {'id': product.product.id}) }}" class="btn btn-sm btn-danger">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="text-end">
				<p>Nombre de produits:
					{{ cart | length }}</p>
				<p>
					<strong>Total:
						{{ total/100 | number_format }}
						€</strong>
				</p>
				<div class="d-inline-flex">
					<a href="#" class="btn btn-success">Valider le panier</a>
					<a href="{{ path('remove_cart') }}" class="btn btn-danger ms-2">Vider le panier</a>
				</div>
			</div>
		</div>

	{% else %}
		<b>Votre panier est vide</b>
	{% endif %}
</div>{% endblock %}
