{% extends 'base.html.twig' %}

{% block title %}Nos produits
{% endblock %}

{% block content %}

	<h1 class="mt-3">
		Nos produits
	</h1>

	<div class="row">

		<div class="col-md-3">

			{% if products is empty %}

				<div class="alert alert-danger">
					Il n'y a pas de produit dans cette catégorie
				</div>

			{% endif %}
			{{form_start(form)}}
			MES FILTRES
			{{form_end(form)}}
			<a href="{{path('products')}}" class="btn btn-danger">
				Reinitialiser filtre</a>
		</div>


		<div class="col-md-9">

			<div class="row row-cols-1 row-cols-md-3 g-4">

				{% for product in products %}


					<div class="col">
						<div class="card">
							<a href="{{path('product',{'slug':product.slug})}}"><img src="/uploads/{{product.picture}}" class="card-img-top" alt="{{product.name}}"></a>
							<div class="card-body">
								<h5 class="card-title">{{product.name}}</h5>
								<p class="card-text">{{product.subtitle}}</p>
								<p>{{product.price/100}}
									€</p>
								<p>{{product.category}}</p>


							</div>
						</div>
					</div>


				{% endfor %}

			</div>
		</div>

	</div>
{% endblock %}
