{% extends 'base.html.twig' %}

{% block title %}Inscription myBoutique
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<h1>Inscription au site</h1>

		{{ form_start(form) }}

		<div class="mb-3">
			{{ form_row(form.firstName, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Entrer le prénom'}}) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.lastName, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Entrer le nom'}}) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.email, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Entrer un email'}}) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.password, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Entrer un mot de passe'}}) }}
		</div>

		<div class="mb-3">
			{{ form_row(form.confirmPassword, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Confirmez le mot de passe'}}) }}
		</div>


		{{ form_end(form) }}
	</div>
{% endblock %}
